/* frontend/src/app/globals.css */
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --color-text: #0f172a;
    --color-background: #ffffff;
    --color-primary: #22c55e;
    --color-primary-hover: #16a34a;
    --color-secondary: #255239;
    --color-secondary-muted: #1a3624;
    --color-accent: #6366f1;
    --color-accent-hover: #514ac4;
}

@layer base {
    :root {
        --font-geist-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        --font-geist-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;

        --text: #0f172a;
        --background: #ffffff;
        --primary: #22c55e;
        --primary-hover: #16a34a;
        --secondary: #255239;
        --accent: #6366f1;
        --accent-hover: #514ac4;
        --foreground: var(--text);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: #0a0a0a;
            --text: #ededed;
            --foreground: var(--text);
        }
    }

    body {
        background: var(--background);
        color: var(--text);
        font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
    }
}
